<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
<% include ./partials/header %>
<h1>Express Movies: le des cinéphiles</h1>
<div>
    Etes-vous plutôt films ou séries? Peu import, vous trouverez votre bonheur dans les deux cas
</div>
</body>
</html>